body{
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpaperaccess.com%2Ffull%2F4106932.jpg&f=1&nofb=1&ipt=55255f4ce4cf5b56b64ba10ca11b5f76f46e73238784dced5553caf31b0c58bf");
}
#cycle-pic{
    width: 40vw;
    transition: transform 0.7s ease-in-out;
    border-radius : 3%;
}
#cycle-pic:hover{
    transform: scale(1.05);
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.599);
}
#title{
    display: grid;
    justify-content: center;
}
.arrange{
    display: flex;
    justify-content: space-around;
}
h1{ 
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "width" 100;
  font-size: 60px;
  text-decoration: underline;
}
h2{ 
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 35px;
  transition: transform 0.3s ease-in-out;
}
h2:hover{
    transform: scale(1.05);
}
.container{
    padding-top: 15px;
    display: flex;
    justify-content: center;
    font-size: 170%;
    transition: transform 0.5s ease-in-out;
}
.container:hover{
    transform: scale(1.21);

}

